/* Variable Setting */
:root {
  --primary-color: #e50914;
}

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #000;
  color: #fff;
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
}

/* Header - Flyer */
.flyer {
  background: #fff;
  color: #000;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 18px;
}

.flyer p {
  background: var(--primary-color);
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: center;
  padding: 5px 12px;
  margin-right: 25px;
}

.flyer h1 {
  font-size: 1rem;
  font-weight: 400;
  margin-right: 18px;
}

.flyer h1 > span {
  font-size: 1.3rem;
  font-weight: 700;
}

.flyer a {
  color: #2165c5;
  font-weight: 500;
}

.flyer i {
  font-size: 1.1rem;
}

.flyer a:hover {
  text-decoration: underline;
}

/* Showcase */
.showcase {
  background: url("../img/showcase_background.jpeg") no-repeat bottom center /
    cover;
  height: 715px;
  background-size: 130%;
  position: relative;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 30px 300px #000, inset 0px -30px 300px #000;
}

.showcase-top {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 20px 120px;
}

.showcase-top img {
  width: 180px;
  height: 75px;
}

.showcase-top select {
  background: transparent;
  border: 1px solid #61615f;
  color: #fff;
  width: 7rem;
  height: 2rem;
  font-size: 1.05rem;
}

.showcase-content {
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.showcase-content p {
  margin-top: 1.1rem;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.showcase-content input {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #61615f;
  width: 25rem;
  height: 4rem;
  margin-right: 7px;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 1.2rem;
}

/* TV Section */
.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px;
  height: 550px;
  place-items: center;
  padding: 0 200px;
}

.section h2 {
  margin-bottom: 20px;
}

.tv-section img {
  width: 500px;
  height: 400px;
}

/* Buttons */
button {
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-md {
  width: 4rem;
  height: 2rem;
}

.btn-lg {
  font-size: 1.4rem;
  width: 10rem;
  height: 4rem;
  padding: 0 20px;
}

/* Text Size */

.text-lg {
  font-size: 2.8rem;
  font-weight: 900;
}

.text-md {
  font-size: 1.4rem;
}

.text-md2 {
  font-size: 1.2rem;
}

.divider {
  width: 100%;
  height: 8px;
  border: solid #232323 4px;
}
